*{
  box-sizing: border-box;
}


body {
  font-size: 16px;
  color: #fff;
  background-color: #141A46;
  font-family: 'Oxygen', sans-serif;
}
h2{

  margin-bottom: 30px;
}

#chicken div{

  font-weight: bold;
  font-size: 1.35em;
  margin-bottom: 15px;
}


#chicken{
  background-color: #572845;
  color: white;
  padding: 20px 20px 20px 20px;
  margin: 40px 30px !important;
}
#header-nav {
  background-color: #EC8B5E;
  border-radius: 0;
  border: 0;
  position: relative;
}

.navbar-brand {
  padding-top: 30px;
  margin-bottom: 30px;
}

.navbar-brand h1 {
  color: #141A46;
  font-size: 1.8em;
  font-weight: bold;
  position: absolute;
  left: 15px;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #EC8B5E;
  text-align: center;
}
#nav-list a:hover {
  background-color: white;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #2e7b96;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/********** Large devices only **********/
@media (min-width: 1200px) {


}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
  }

  #collapsable-nav a { 
    background-color: #572845;
    font-size: 1.2em;
  }

  /* End Header */

}
