*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    height: 12vh;
    box-shadow: 0px 5px 3px gray;
    background-color: white;
}
button:hover{
    cursor: pointer;
}
.logo{
    font-weight:900;
    font-size: 32px;
    margin-top: 7px;
}
.logo-image{
    margin-right: 7px;
}
.logo-container,.nav-links,.sign-in{
    display: flex;
}
.logo-container{
    flex: 1;
    justify-content: center;
}
nav{
    flex:2;
}
.sign-in{
    flex:1;
    justify-content: center;
}
.nav-links{
    justify-content: space-around;
}
li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #6C5CE7;
    font-weight: 300;
}

.sign-in_btn{
    border-radius: 999px;
    background: #2D3436;
    color: white;
    padding:0.8em 1.7em 0.8em 1.7em;

}
.dot::after{
    content: "";
    display: inline-block;
    background: url("images/dot.png") no-repeat right;
    width:50px;
    height: 10px;
}
.active{
    font-weight: 800;
    color: black;
}
.rectangle{
    position: absolute;
    top: 0;
    width: 50%;
    z-index:-5;
    right:0;
    opacity: 0.7;
    
}
.img_wave,.arrow_icon,.dots_mobile,.rectangle_mobile,.menu-icon,.mobile_head_h3,.mobile_head_h32,.mobile_head_h4,.mobile_cardgrid,.mobile{
    display: none;
}

.dots{
    position: absolute;
    top: 15vh;
    right: 0;
    opacity: 0.7;
}
.first_head{
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
    font-size: 70px;      
}
.first_head span{
    color: rgb(233, 34, 100);
    position: relative;
    
}
.first_head span::after{
    content: url('images/BG.png');
    position:absolute;
    bottom: -12px;
    left: 0;
    z-index: -1;
  }
.second_head{
    text-align: center;
    font-weight: 800;
    margin-top: 1%;
    font-size: 50px;
}


.wrapper{
    display: grid;
    grid-template-columns:1fr 2fr;
    margin: auto;
    grid-gap: 20px;
    width: 87%;
    margin-top: 3%;
 
}
.first-col{
    display: grid;
    grid-template-rows: 80px 550px 10px;
}
.text-1{
    align-self: center;
    justify-self: center;
}
.second-col{
    display: grid;
    grid-gap:20px;
    grid-template-rows: 1fr 1fr;
  
}
.second-col-first-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-self: flex-end;
  
}
.second-col-second-row{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;
   
}
.second-first{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    
}
.text{
    grid-column: 1/3;
    align-self: flex-end;
}
.greenbox-container,.purplebox-container,.yellow-box-container{
    position: relative;
    text-align: center;
}
.greenbox-container>h1,.purplebox-container>h1{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}
.yellow-box-container>h1{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.yellow-box{
    width: 100%;
    height: 90%;
}
.second-first-imgs{
    align-self: flex-end;
    justify-self: start;
    
}
.learn-more{
    justify-self:center;
    align-self: center;
    background-color: white;
    color:#6C5CE7;
    padding: 1em 2em 1em 2em;
    border-radius: 16px;
    border: 0.25px solid gray;
    outline: none;
    box-shadow:2px 6px 25px 0px rgba(50, 50, 50, 0.67);

}
.learn-more>p{
    font-weight: 600;
    font-size: larger;
}

.bill_head{
    color:#aca3a3;
}
.bill_head span.monthly{
    color:#6C5CE7;
    position: relative;
    
}
.bill_head span.monthly::after{
    content: url('images/99\ dp.png');
    position:absolute;
    bottom: -8px;
    left: 0;
    z-index: -1;
  }
.prices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.price_card{
    padding: 2em;
    border-radius: 16px;
    
}
.price_card>p,.price_card>div,.price_card>ul{
    margin-top: 1em;

}

.price_card_centre{
    box-shadow:1px 1px 21px 0px rgba(50, 50, 50, 0.35);
    
}
.card_type{
    color: #6C5CE7;
    font-weight: 700;
}
.price_tag{
    display: flex;
    align-items: flex-end;
}

.price_tag > h4{
    font-size: x-large;
}

.price_tag > p{
    font-size: x-small;
    font-weight: 500;
    letter-spacing:2px;
}
.card_button{
    border-radius: 16px;
    padding: 1em 2em 1em 2em;
    margin: auto;
    display: block;
    outline: none;
}
.individual_button{
    background-color:#6C5CE7;
    color: white;
    margin: none;
    border: none;
    margin-top: 10%;
}
.free_button{
    background-color:white;
    color: #6C5CE7;
    margin-top: 25%;
    border: 1.25px solid #312f46;
    outline: none;
}
.free_button>p,.individual_button{
    font-weight: 700;
}
.individual_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.individual_card > div{
    border-radius: 20px;
    border: 1px solid #6C5CE7;
    padding: 0.5em;
    font-size: x-small;
}

.card:hover{
    animation-name:card-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes card-hover{
    100%{
        transform: translate(0px,-12px);          
    }
}
.mobile_footer{
    display: none;
}
footer{
    margin: auto;
    margin-top: 7%;
}
.footer-grid{
    display: grid;
    grid-template-columns:1fr 1fr;
    margin: auto;
    grid-gap: 20px;
    width: 87%;
    margin-top: 3%;
    padding: 1em;

}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.info-grid{
    display: grid;
    margin-top: 4%;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:repeat(3,50px);
}
.foot-head{
    color: #ADADAD;
}
.mobile_footer_info{
    display: none;
}
.e-mail{
    display: block;
    margin-top: 2%;
    font-size:1.5em;
    color: #6C5CE7;
}
.icons{
    margin-top: 2%;
}
.footer-image{
    margin-top: 1%;
    width: 100%;
}

.contact-form{
    margin-top: 2%;
}

input{
    background-color:rgb(238, 230, 230);
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 16px;
    margin-right: 3%;
    height: 48px;
    width: 200px; 
}

input::placeholder{
    color: black;
}

.name-input{
    background-image: url('/images/person.png');
    background-position: right;
    background-repeat: no-repeat;
    
}
.email-input{
    background-image: url('/images/mail.png');
    background-position: right;
    background-repeat: no-repeat;
    

}
.message-input::placeholder{
    color: #6C5CE7;
    font-size: larger;
    font-weight: 500;
}
.message-input{
    display: block;
    height:80px;
    width: 370px;
    margin-top: 1%;
    background-image: url('/images/icon-edit.png');
    background-position: top right;
    background-repeat: no-repeat;
}

.send_btn{
    background-color: #6C5CE7;
    color: white;
    border: none;
    outline: none;
    padding: 1.8em 3em;
    border-radius: 16px;
}
.send_btn>p{
    font-size: 1.3em;
    font-weight: 400;
}
.form-2{
    display: flex;
    align-items: center;

}



@media only screen and (max-width: 1205px) {
    .wrapper{
        grid-template-columns:1fr 1fr;
        width: 100%;
     
    }
    .text-1,.text{
        display: none;
    }
    .yellow-box{
        height: 100%;
    }
    .first-col{
        display: grid;
        grid-gap: 80px;
        grid-template-rows: 500px 10px;
    }
    .info-grid{
        grid-template-columns: 1fr 1fr;
    }

    .dot::after{
        content: none;
        background: none;
    }
    .rectangle{
        width: 60%;
        
    } 
  }

  @media only screen and (max-width: 985px) {
    .footer-grid{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        
    }

    .info-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    .to_hide,.rectangle,.dots{
        display: none;
    }
    .prices{
        display: flex;
        flex-direction: column;        
    }
    .price_card{
        box-shadow: 0px 0px 40px -8px #b6b0b0;
        border-radius: 16px;
        margin: 1.25em 0 1.25em 0;
        width: 30em;
        
    }
    .wrapper{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em;
    }
    .card{
        width: 200px;
    }
    .yellow-box{
        width: 100%;
    }

    .rectangle_mobile{
        display: block;
        position: absolute;
        top: 0;
        width: 68%;
        z-index:-2;
        right:0;
    }

    .dots_mobile{
        display:block;
        position: absolute;
        top: 18vh;
        right: 0;
        z-index:-2;
    }
    
  }

@media only screen and (max-width:785px){
    .menu-icon{
        display: inline-block;
    }
    .nav-links{
        display: none;
    }
    .form-1{
        display: flex;
    }
    .form-2{
        display: block;
    }
    

    .send_btn{
        padding: 1em 2em;
        border-radius: 16px;
        margin-top: 12px;
        display: block;
        margin-left: auto;
    }
    .send_btn>p{
        font-size: 15px;
    }
    .card{
        width:150px;
        height: fit-content;
    }
    
    
    
}
@media only screen and (max-width:650px){
    .wrapper{
        display: none;
    }
    .first_head,.second_head{
        display: none;
    }
    .bill_head1,.bill_head{
        display: block;
        margin-top: 3%;
    }

    .mobile_head_h3,.mobile_head_h4{
        display: block;
        text-align: center;
        margin-top: 5%; 
    }
    .mobile_head_h3{
        font-size: 60px;
    }
    .mobile_head_h32{
        display: block;
        text-align: center;
        font-size: 40px;
    }
    .mobile_head_h4{
        font-size: 25px;
    }

    .mobile_head_h32>span{
        color: rgb(233, 34, 100);
        position: relative;
        
    }
    .mobile_head_h32>span::after{
        content: url('images/BG.png');
        position:absolute;
        bottom: -18px;
        left: -15px;
        z-index: -1;
      }

    .mobile_cardgrid{
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1em;
        align-items: center;
        justify-content: center;
    }
    
    
    .mobile_card{
        height: min-content;
        width: 100%;
    }
    .mobile_card:hover{
        animation: card-hover 0.5s;
        animation-fill-mode: forwards;
    }
    
    .mobile_card2{
        grid-column: 2/4;
       
    }
    .mobile_card6{
        grid-column:3/5;
    }
    .mobile_card7{
        grid-column: 2/3;
    }
    .img_wave{
        display: block;
        opacity: 0.6;
    }
    .mobile{
        display: block;
    }
    
    
    
    .img_wave{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -2;
        max-height: 480px;
    }
    .arrow_icon{
        display: block;
        margin: auto;
        margin-top: 5%;
    }
    .arrow_icon:hover{
        cursor: pointer;
    }
    
    section{
        margin-top: 10%;
    }
    .mobile_first_head{
        font-size: 40px;
    }
    .mobile_second_head{
        font-size: 25px;
    }
    .sign-in_btn{
        width: 120px;
    }

    .price_card{
        width: auto;
    }
    .price_card_last{
        background-color:#6C5CE7;
        color: white;
    }
    .price_card_last>p.card_type{
        color: rgb(99, 240, 99);
    }
    .first_button{
        background-color:#6C5CE7;
        color: white;
        border: none;
        outline: none;
    }


    .green-text{
        color: rgb(35, 185, 35);
    }
    .mobile_footer_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile_footer_info>p{
        margin:0.25em;
    }
    .footer-image{
        display: none;
    }
    .mobile_footer{
        display: block;
        position: relative;
    }
    .footer-img1,.footer-img2{
        position: absolute;
        left: 0;
        bottom: 0;  
    }
    .footer-img3{
        position: absolute;
        left:30px;
        bottom: 0;
    }
}

@media only screen and (max-width:550px){
    .hide_small_mobile{
        display: none;
    }
}


